/* styles.css */

body {
background-color: lavenderblush;
color: rgb(174, 133, 195);
padding: 23px;
}

h1 {
font-family:"Short Stack", cursive;
font-size: 4em;
line-height: 1.2;
margin-bottom: 52px;
}

p{
font-family:"Short Stack", cursive;
font-size: 1em;
max-width: 1000px;
}

pre{
font-family:"Schoolbell", cursive;
font-size: 2.25em;
color: rgb(238, 95, 195);
}

div {
font-family:"Schoolbell", cursive;
font-size: 2.67em;
color: rgb(209, 68, 136);
font-weight: bold;
font-style: italic;
}

img {
width: 100%;
height: auto;
}